
<table border=2 width=300 align="center">
    <tr>
        <th>索引</th>
        <th>分類項目</th>
        <th>編輯</th>
        <th>刪除</th>
    </tr>
    <tr>
        <td>01</td>
        <td>書籍</td>
        <td><button>編輯</button></td>
        <td><button>刪除</button></td>
    </tr>
    <tr>
        <td>01</td>
        <td>書籍</td>
        <td><button>編輯</button></td>
        <td><button>刪除</button></td>
    </tr>
    <tr>
        <td>01</td>
        <td>書籍</td>
        <td><button>編輯</button></td>
        <td><button>刪除</button></td>
    </tr>
    <tr>
        <td>01</td>
        <td>書籍</td>
        <td><button>編輯</button></td>
        <td><button>刪除</button></td>
    </tr>
</table>
