
@{
    ViewBag.Title = "Test";
}

<h2>Test</h2>
<div id="main">
    <button v-on:click="FetchTest">測試FETCH</button>
</div>


<script src="~/Scripts/vue.min.js"></script>

<script>

    var vm = new Vue({
        el: "#main",
        data: {



        },

        methods: {

            FetchTest: function() {

            fetch("@Url.Action("CreateProduct","Create")", {
            headers: {
                
               // 'Content-Type': 'application/json',
               // 'Accept': 'application/json'
            },
            method: "POST",
            body: JSON.stringify({
                'imageId': 1,
                //icon: Array.from(new Uint8Array(arrayBuffer))
            })
        })
            .then(res => {
                if (!res.ok) {
                    throw res.statusText;
                }
                return res.json();
            })
            .then(data => data)
            .catch(err => console.log("err", err));

            }


        }





    })

</script>